@using Schoology2.Core.Entidades
@model ModeloCursoProfesor
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de cursos</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form action="@Url.Action("Guardar", "Curso")">
                            <input type="hidden" class="form-control" name="id" value="@Model.Curso.Id">
                            <div class="form-group">
                                <label>Curso:</label>
                                <input class="form-control" name="curso" value="@if(Model.Curso.Id != 0) {@Model.Curso.Nombre }" />
                                <label>Clave:</label>
                                <input class="form-control" name="clave" value="@if(Model.Curso.Id != 0) {@Model.Curso.Clave }" />
                                <label>Profesor:</label>
                                <select name="idProfesor" id="profesor">
                                    <option value="">Selecciona un opcion</option>
                                    @foreach (Usuario p in Model.Profesor)
                                    {
                                        <option value="@p.Id">@p.Nombre @p.Apellido</option>
                                    }
                                </select>
                            </div>

                            <button class="btn btn-success" type="submit">Guardar</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


